<section data-ng-controller="SurveysController">
    <div class="page-header">
        <h1>New Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" required>
                    </div>
                    <input type="date" data-ng-model="expiryDate" id="expiryDate" class="form-control"required>
                    <label class="control-label" for="questions">Question 1</label>
                    <textarea type="text" data-ng-model="q1" id="q1" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a1"><input type="text" data-ng-model="a11"><br/>
                        <input type="radio" name="a1"><input type="text" data-ng-model="a12"><br/>
                        <input type="radio" name="a1"><input type="text" data-ng-model="a13"><br/>
                        <input type="radio" name="a1"><input type="text" data-ng-model="a14">
                    </div>
                    <label class="control-label" for="questions">Question 2</label>
                    <textarea type="text" data-ng-model="q2" id="q2" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a2"><input type="text" data-ng-model="a21"><br/>
                        <input type="radio" name="a2"><input type="text" data-ng-model="a22"><br/>
                        <input type="radio" name="a2"><input type="text" data-ng-model="a23"><br/>
                        <input type="radio" name="a2"><input type="text" data-ng-model="a24">
                    </div>
                    <label class="control-label" for="questions">Question 3</label>
                    <textarea type="text" data-ng-model="a3" id="a3" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a3"><input type="text" data-ng-model="a31"><br/>
                        <input type="radio" name="a3"><input type="text" data-ng-model="a32"><br/>
                        <input type="radio" name="a3"><input type="text" data-ng-model="a33"><br/>
                        <input type="radio" name="a3"><input type="text" data-ng-model="a34">
                    </div>
                    <label class="control-label" for="questions">Question 4</label>
                    <textarea type="text" data-ng-model="a4" id="a4" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a4"><input type="text" data-ng-model="a41"><br/>
                        <input type="radio" name="a4"><input type="text" data-ng-model="a42"><br/>
                        <input type="radio" name="a4"><input type="text" data-ng-model="a43"><br/>
                        <input type="radio" name="a4"><input type="text" data-ng-model="a44">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 5</label>
                    <textarea type="text" data-ng-model="a5" id="a5" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a5"><input type="text" data-ng-model="a51"><br/>
                        <input type="radio" name="a5"><input type="text" data-ng-model="a52"><br/>
                        <input type="radio" name="a5"><input type="text" data-ng-model="a53"><br/>
                        <input type="radio" name="a5"><input type="text" data-ng-model="a54">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 6</label>
                    <textarea type="text" data-ng-model="a6" id="a6" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a6"><input type="text" data-ng-model="a61"><br/>
                        <input type="radio" name="a6"><input type="text" data-ng-model="a62"><br/>
                        <input type="radio" name="a6"><input type="text" data-ng-model="a63"><br/>
                        <input type="radio" name="a6"><input type="text" data-ng-model="a64">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 7</label>
                    <textarea type="text" data-ng-model="a7" id="a7" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a7"><input type="text" data-ng-model="a71"><br/>
                        <input type="radio" name="a7"><input type="text" data-ng-model="a72"><br/>
                        <input type="radio" name="a7"><input type="text" data-ng-model="a73"><br/>
                        <input type="radio" name="a7"><input type="text" data-ng-model="a74">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 8</label>
                    <textarea type="text" data-ng-model="a8" id="a8" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a8"><input type="text" data-ng-model="a81"><br/>
                        <input type="radio" name="a8"><input type="text" data-ng-model="a82"><br/>
                        <input type="radio" name="a8"><input type="text" data-ng-model="a83"><br/>
                        <input type="radio" name="a8"><input type="text" data-ng-model="a84">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 9</label>
                    <textarea type="text" data-ng-model="a8" id="a8" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a9"><input type="text" data-ng-model="a91"><br/>
                        <input type="radio" name="a9"><input type="text" data-ng-model="a92"><br/>
                        <input type="radio" name="a9"><input type="text" data-ng-model="a93"><br/>
                        <input type="radio" name="a9"><input type="text" data-ng-model="a94">
                    </div>
                </div>
                <label class="control-label" for="questions">Question 10</label>
                    <textarea type="text" data-ng-model="a10" id="a10" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="a10"><input type="text" data-ng-model="a101"><br/>
                        <input type="radio" name="a10"><input type="text" data-ng-model="a102"><br/>
                        <input type="radio" name="a10"><input type="text" data-ng-model="a103"><br/>
                        <input type="radio" name="a10"><input type="text" data-ng-model="a104">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>