<section data-ng-controller="SurveysController">
    <div class="page-header">
        <h1>New Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" required>
                    </div>
                    <label class="control-label" for="desc">Description</label>
                    <input type="text" data-ng-model="desc" id="desc" class="form-control" required>
                    <label class="control-label" for="expiryDate">Expiration:</label>
                    <input type="date" data-ng-model="expiryDate" id="expiryDate" class="form-control"required>
                    <label class="control-label" for="questions">Question 1</label>
                    <textarea type="text" data-ng-model="question1" id="question2" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="answers"><input type="text" data-ng-model="answers1a"><br/>
                        <input type="radio" name="answers"><input type="text" data-ng-model="answers1b"><br/>
                        <input type="radio" name="answers"><input type="text" data-ng-model="answers1c"><br/>
                        <input type="radio" name="answers"><input type="text" data-ng-model="answers1d">
                    </div>
                    <label class="control-label" for="questions">Question 2</label>
                    <textarea type="text" data-ng-model="question2" id="question2" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="answers2"><input type="text" data-ng-model="answers2a"><br/>
                        <input type="radio" name="answers2"><input type="text" data-ng-model="answers2b"><br/>
                        <input type="radio" name="answers2"><input type="text" data-ng-model="answers2c"><br/>
                        <input type="radio" name="answers2"><input type="text" data-ng-model="answers2d">
                    </div>
                    <label class="control-label" for="questions">Question 3</label>
                    <textarea type="text" data-ng-model="question3" id="question3" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="answers3"><input type="text" data-ng-model="answers3a"><br/>
                        <input type="radio" name="answers3"><input type="text" data-ng-model="answers3b"><br/>
                        <input type="radio" name="answers3"><input type="text" data-ng-model="answers3c"><br/>
                        <input type="radio" name="answers3"><input type="text" data-ng-model="answers3d">
                    </div>
                    <label class="control-label" for="questions">Question 4</label>
                    <textarea type="text" data-ng-model="question4" id="question4" class="form-control" required></textarea>
                    <div class="radio">
                        <input type="radio" name="answers4"><input type="text" data-ng-model="answers4a"><br/>
                        <input type="radio" name="answers4"><input type="text" data-ng-model="answers4b"><br/>
                        <input type="radio" name="answers4"><input type="text" data-ng-model="answers4c"><br/>
                        <input type="radio" name="answers4"><input type="text" data-ng-model="answers4d">
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>