<section data-ng-controller="SurveysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="survey.title"></h1>
	</div>
    <div>
		<h3 data-ng-bind="survey.desc"></h3>
	</div>
    <div>
		<h3 data-ng-bind="survey.q1"></h3>
	</div>
    <label data-ng-bind="survey.q1" id="q1" class="form-control" required></label>
    <div class="radio">
        <input type="radio" name="a1"><label data-ng-bind="survey.a11"></label><br/>
        <input type="radio" name="a1"><label data-ng-bind="survey.a12"></label><br/>
        <input type="radio" name="a1"><label data-ng-bind="survey.a13"></label><br/>
        <input type="radio" name="a1"><label data-ng-bind="survey.a14"></label>
    </div>
    <label data-ng-bind="survey.q2" id="q2" class="form-control" required></label>
    <div class="radio">
        <input type="radio" name="a2"><label data-ng-bind="survey.a21"></label><br/>
        <input type="radio" name="a2"><label data-ng-bind="survey.a22"></label><br/>
        <input type="radio" name="a2"><label data-ng-bind="survey.a23"></label><br/>
        <input type="radio" name="a2"><label data-ng-bind="survey.a24"></label>
    </div>
    <label data-ng-bind="survey.q3" id="q3" class="form-control" required></label>
    <div class="radio">
        <input type="radio" name="a3"><label data-ng-bind="survey.a31"></label><br/>
        <input type="radio" name="a3"><label data-ng-bind="survey.a32"></label><br/>
        <input type="radio" name="a3"><label data-ng-bind="survey.a33"></label><br/>
        <input type="radio" name="a3"><label data-ng-bind="survey.a34"></label>
    </div>
    <label data-ng-bind="survey.q4" id="q4" class="form-control" required></label>
    <div class="radio">
        <input type="radio" name="a4"><label data-ng-bind="survey.a41"></label><br/>
        <input type="radio" name="a4"><label data-ng-bind="survey.a42"></label><br/>
        <input type="radio" name="a4"><label data-ng-bind="survey.a43"></label><br/>
        <input type="radio" name="a4"><label data-ng-bind="survey.a44"></label>
    </div>
    <label data-ng-bind="survey.q5" id="q5" class="form-control" required></label>
    <div class="radio">
        <input type="radio" name="a5"><label data-ng-bind="survey.a51"></label><br/>
        <input type="radio" name="a5"><label data-ng-bind="survey.a52"></label><br/>
        <input type="radio" name="a5"><label data-ng-bind="survey.a53"></label><br/>
        <input type="radio" name="a5"><label data-ng-bind="survey.a54"></label>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == survey.user._id))">
		<a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="survey.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="survey.user.displayName"></span>
		</em>
	</small>
</section>